<!-- views/index -->

<% include head %>

<div class="container-fluid position-absolute w-100 h-100 p-0 m-0">
    <div id="mainContainer"class="h-100 w-100 row align-items-center align-middle p-0 m-0">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <a href="#">
                <img src="images/">
            </a>
        </div>
        <div class="col">
            <a href="https://www.facebook.com/profile.php?id=100023170238240">
                <img src="images/facebook.png">
            </a>
        </div>
        <div class="col">
            <a href="https://github.com/poki1219">
                <img src="images/github.png">
            </a>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>


<% include footer %>

