<div class="container ">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="pt-3">
                <div class="memo-control" contenteditable="true" role="textbox" aria-multiline="true">
                    asdfasdf<br><br><br><br><br><br>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="pt-3">
                <div class="memo-control" contenteditable="true" role="textbox" aria-multiline="true">
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="pt-3">
                <div class="memo-control" contenteditable="true" role="textbox" aria-multiline="true">
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="pt-3">
                <div class="memo-control" contenteditable="true" role="textbox" aria-multiline="true">
                    
                </div>
            </div>
        </div>
         <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="pt-3">
                <div class="memo-control" contenteditable="true" role="textbox" aria-multiline="true">
                    
                </div>
            </div>
        </div>
         <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="pt-3">
                <div class="memo-control" contenteditable="true" role="textbox" aria-multiline="true">
                    
                </div>
            </div>
        </div>
         <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="pt-3">
                <div class="memo-control" contenteditable="true" role="textbox" aria-multiline="true">
                    
                </div>
            </div>
        </div>
         <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="pt-3">
                <div class="memo-control" contenteditable="true" role="textbox" aria-multiline="true">
                    
                </div>
            </div>
        </div>
    </div>
</div>